<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EventsSchedulerUI.Properties.Settings.Project2ConnectionString"
            connectionString="Data Source=cis1.actx.edu;Initial Catalog=Project2;Persist Security Info=True;User ID=db2;Password=db20"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>